<footer id="site_footer">
	<div class="copyright">Content (c) Brian Arnold 2011. All code is MIT licensed unless otherwise specified. Images/audio under <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">CC BY-NC-SA 3.0</a> unless otherwise specified.</div>
	<div class="disclaimer">Unless otherwise specified, the opinions expressed here do not reflect the opinion of Brian's <a href="http://www.sitepen.com">employer</a>, <a href="http://twitter.com/lisaarn">wife</a>, or <a href="http://www.flickr.com/photos/brianarn/4808528575/">dogs</a>, and are solely his own ramblings.</div>
	<div class="last_update">Last updated: <time>{{ site.time }}</time></div>
</footer>
