<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ site.name }}</title>

	<link ref="shortcut icon" href="/favicon.ico">
	<link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="/css/site.css" type="text/css" media="screen" charset="utf-8">

	<link href="http://feeds.feedburner.com/brianarnATgithub" type="application/atom+xml" rel="alternate" title="brianarn@github Atom feed">
</head>
<body>
	<div id="content">
		<h1>{{ site.name }}</h1>
		{{ content }}
		<h2>Recent Posts</h2>
		{% if site.posts.quantity > 0 %}
		<ul>
			{% for post in site.posts limit:5 %}<li><a href="{{ post.url }}">{{ post.title }}</a> &mdash; {{ post.date }}</li>{% endfor %}
		</ul>
		{% else %}
		<p>No posts yet... maybe someday...</p>
		{% endif %}
	</div> <!-- #content -->
	{% include analytics.html %}
</body>
</html>
