<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ site.name }}</title>

	{% include site_meta.html %}

	{% include site_css.html %}
</head>
<body>
	{% include site_header.html %}
	<div id="content">
		{{ content }}
		<h2>Recent Posts</h2>
		{% if site.posts.size > 0 %}
		<ul>
			{% for post in site.posts limit:5 %}<li><a href="{{ post.url }}">{{ post.title }}</a> &mdash; {{ post.date | date: "%B %d, %Y" }}</li>{% endfor %}
		</ul>
		{% else %}
		<p>No posts yet... maybe someday...</p>
		{% endif %}
	</div> <!-- #content -->
	{% include site_footer.html %}
	{% include jslibs.html %}
	<script src="/js/index.js"></script>
	{% include analytics.html %}
</body>
</html>
