<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ page.title }} -- {{ site.name }}</title>

	{% include site_meta.html %}

	{% include site_css.html %}
	<link rel="stylesheet" href="/css/post.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
	{% include site_header.html %}
	<div id="content">
		<article>
			<header>
				<h2>{{ page.title }}</h2>
			</header>
			<section id="postbody">
			{{ content }}
			</section>
			<footer>
				<ul class="meta">
					<li>Posted on <time>{{ page.date | date: "%A, %B %d, %Y" }}</time></li>
					<li>Categories: {% for cat in page.categories %} {{ cat | capitalize }} {% endfor %}</li>
				</ul>
			</footer>
			{% include disqus.html %}
		</article> <!-- #post -->
	</div> <!-- #content -->
	{% include site_footer.html %}
	{% include analytics.html %}
</body>
</html>
